@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#coin {
  animation-name: rotate-three-times;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-iteration-count: 3;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes rotate-three-times {
  0% {
    transform: rotateY(0deg); /* Start at 0 degrees */
  }
  100% {
    transform: rotateY(180deg); /*rotation = 180 degrees */
  }
}
